*.o
*.bak
*.pro.user
debug
Makefile
Makefile.Release
*.Debug
ui_mainwindow.h
release
output
output-debug
output-release
*.wave
*.csv
膨胀力测试工装
WFace.pro.user.20
ui_devwidget.h
ui_scanwidget.h
*.log
*.pdb
ui_dialogwave.h
ui_QComSettingWidget.h
*.8-pre1
wface2.ini
